@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.noscroll::-webkit-scrollbar {
  width: 0;
  display: none;
}

input.close {
  color: #fff;
  opacity: 1;
}

.placetext::-webkit-input-placeholder {
  color: white;
}

.gray-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gray;
  opacity: 0.6;
  z-index: 5;
}

.above-overlay {
  z-index: 10;
}

.welcome-header {
  margin-bottom: 2rem;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}
.welcome-logo {
  height: 150px;
  width: auto;
  margin-top: 1.5rem;
}

.restriction-logo {
  height: 100px;
  width: fit-content;
  /* margin-top: 1.5rem; */
}

.restriction-container {
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.75);
  padding: 0;
}

.restriction-header {
  min-height: 100px;
  width: 100%;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.allergy-header {
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
  /* font-size: 2rem;
  font-weight: 500; */
  border-radius: 1rem;
  /* margin-bottom: 1rem; */
  cursor: pointer;
}

.allergy-card {
  border-radius: 20px;
  background: white;
  width: 22%;
  min-width: 150px;
  margin-bottom: 1rem;
}

.allergy-card-popup {
  border-radius: 20px;
  /* min-height: 40px; */
  background: white;
  /* padding: 0.5rem 1rem; */
  width: 100%;
  min-width: 150px;
  margin-bottom: 1rem;
}

.allergy-info {
  border-radius: 20px;
  height: 100px;
  text-align: center;
  font-size: 12px;
}
.cross-contact-button {
  width: fit-content;
  font-size: 12px;
  border-radius: 1.5rem;
  padding: 0 1rem;
}
.welcome-button {
  border-radius: 0.25rem;
  border: none;
  font-weight: 600;
  padding: 0.5rem 3rem;
  font-size: 20px;
  width: fit-content;
}

.see-menu-button {
  border-radius: 2rem;
  border: none;
  font-weight: 600;
  padding: 0.5rem 2rem;
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.rounded-button {
  border-radius: 2rem;
  border: none;
  font-weight: 300;
  padding: 0.25rem 1.5rem;
  font-size: 15px;
  margin-top: 1.5rem;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  border-radius: 2rem;
}
.nav-pills .nav-link {
  border-radius: 2rem;
}
.menu-logo {
  height: 75px;
  width: auto;
  margin-top: 1.5rem;
  position: absolute;
  left: 1rem;
}
.menu-back-button {
  height: calc(0.75rem + 1.5vw);
  width: calc(0.75rem + 1.5vw);
  cursor: pointer;
  margin: 0.5rem;
  /* position: absolute;
  left: 1rem;
  top: 1.25rem; */
}

.cross-contact-procedure {
  font-size: calc(0.75rem + 1.5vw);
  color: black;
  padding: 0px;
  margin-bottom: 1.5rem;
  text-align: left;
}
.dedicated-from {
  font-size: calc(0.75rem + 1.5vw);
  font-weight: 600;
  padding-left: 0px;
  margin-top: 1rem;
  /* margin-bottom: 0.1rem; */
}
.menu-title {
  margin-bottom: 0px;
  padding-left: 0px;
  width: fit-content;
}

.menu-sub-title {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0px;
  margin-top: 0.5rem;
  padding-left: 0.15rem;
}

.category-nav {
  background: white;
  /* border-bottom: 1px solid lightgray;
  border-radius: 2rem; */
  padding: 0.25rem;
  overflow: scroll;
  flex-wrap: nowrap;
}

.custom-sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
  /* border: 2px solid lightgray; */
}

.category-nav > div {
  width: fit-content;
  border-radius: 2rem;
}

.category-nav > div > p {
  padding: 0.25rem;
  margin: 0px;
  cursor: pointer;
}

.filtered-by {
  padding-bottom: 1rem;
  border-bottom: 2px solid lightgray;
  margin-bottom: 2rem;
}

.filtered-by > div > div > p {
  margin-bottom: 0px;
  width: fit-content;
  margin-right: 1rem;
}

.filtered-by > div > p {
  margin-bottom: 0px;
  width: fit-content;
  margin-right: 2rem;
}

.mod-toggle {
  border: 1px solid black;
  border-radius: 2rem;
  flex-wrap: nowrap;
  width: fit-content;
  padding: 0px;
  margin-bottom: 1rem;
}
.mod-toggle > p {
  margin: 0px;
  padding: 0 0.5rem;
  cursor: pointer;
}
.menuitem-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.menuitem-card {
  width: 18rem;
  cursor: pointer;
  margin-right: 1rem;
}

.price-type {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 300;
  padding-right: 0px;
}

.menuitem-card-img {
  height: 75px;
  width: 75px;
  /* position: absolute;
  top: 1rem;
  right: 0; */
  border-radius: 0.5rem;
}

.menu-description-card-img {
  height: 200px;
  width: 200px;
  /* position: absolute;
  top: 1rem;
  right: 0; */
  border-radius: 0.5rem;
}

/* .card {
  width: 20rem;
  border: none;
} */
@media (max-width: 768px) {
  .menuitem-container {
    flex-direction: column;
  }
  .menuitem-card {
    width: 100%;
    cursor: pointer;
  }
  .welcome-button {
    border-radius: 0.25rem;
    border: none;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    font-size: 20px;
    width: 100%;
  }
  .allergy-card {
    border-radius: 20px;
    background: white;
    width: 100%;
    min-width: 150px;
    margin-bottom: 1rem;
  }
}

.allergy-pill {
  background: lightgray;
  border-radius: 1rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 10px;
  font-style: italic;
  cursor: pointer;
}

.allergy-padding {
  padding: 0.5rem 1rem;
}

.allergy-padding-cross {
  padding-left: 1rem;
  /* padding-right: 0.5rem; */
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.exclamation {
  width: 15px;
  height: 15px;
  position: relative;
  top: -1rem;
  background: white;
  border-radius: 1rem;
  left: 0.25rem;
}

.description-text > p {
  font-size: 12px;
}
