@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.noscroll::-webkit-scrollbar {
  width: 0;
  display: none;
}

input.close {
  color: #fff;
  opacity: 1;
}

.placetext::-webkit-input-placeholder {
  color: white;
}

.gray-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gray;
  opacity: 0.6;
  z-index: 5;
}

.above-overlay {
  z-index: 10;
}

.welcome-header {
  margin-bottom: 2rem;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}
.welcome-logo {
  height: 150px;
  width: fit-content;
  margin-top: 1.5rem;
}

.restriction-logo {
  height: 100px;
  width: fit-content;
  margin-top: 1.5rem;
}

.restriction-container {
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.75);
  padding: 0;
}

.restriction-header {
  min-height: 100px;
  width: 100%;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.allergy-header {
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
  /* font-size: 2rem;
  font-weight: 500; */
  border-radius: 1rem;
  /* margin-bottom: 1rem; */
}

.allergy-card {
  border-radius: 20px;
  /* min-height: 40px; */
  background: white;
  /* padding: 0.5rem 1rem; */
  width: 30%;
  margin-bottom: 1rem;
}

.allergy-info {
  border-radius: 20px;
  height: 100px;
  text-align: center;
  font-size: 12px;
}
.cross-contact-button {
  width: fit-content;
  font-size: 12px;
  border-radius: 1.5rem;
  padding: 0 1rem;
}
.welcome-button {
  border-radius: 0.25rem;
  border: none;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  font-size: 20px;
}

/* section .layout::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-attachment: fixed;
  filter: blur(8px);
} */
